<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Soyons proches, soyons solidaires!</h2>
                <hr class="light">
                <p class="text-faded">La création de l’association repose sur un constat : bon nombre de potentiels sont souvent proches géographiquement les uns des autres mais ne se connaissent pas ou n’ont pas de projets communs. Nous estimons qu’une structure comme EURIENTIS permet de tisser des liens cordiaux, professionnels et utiles. !</p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
